body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue; 
    color: black; 
}

header {
    background-color: #333; 
    color: white; 
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align:center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white; 
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: bisque; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h1, .about h1, .projects h1, .contact h1 {
    text-align: center;
}

.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: cadetblue; 
    color: white; 
    border-radius: 5px;
}


.social-media {
    text-align:center;
    margin: 20px 132px;
}

.social-media h2 {
    margin-bottom: 20px;
}

.social-media ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display:inline; 
}

.social-media ul li {
    display:inline; 
    margin: 0 15px;
}

.social-media ul li a {
    text-decoration: none;
    color: cadetblue; 
    font-size: 18px;
    font-weight: bold;
}

.social-media ul li a:hover {
    color: black; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333; 
    color: white; 
    position: relative;
    bottom: 0;
    width: 100%;
}
